* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      
    background-image: url('words.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    h1 {
      background-color:black;
      color: white;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
  }
  
  }
  
  #container {
    display: flex;
    background-color: lightblue;
    /* background-size: cover; */
    font-display: black;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
  
  #game {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid rgb(58, 58, 60);
  }
  
  .title {
    color:red;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  #board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .square {
    border: 2px solid rgb(58, 58, 60);
    min-width: 60px;
    min-height: 60px;
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #keyboard-container {
    height: 200px;
  }
  
  .keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
  }
  
  .keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: rgba(129, 131, 132, 0.592);
    color: black;
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
  }
  
  .keyboard-row button.wide-button-1 {
    flex-grow:3.5;
    background-color: green;
  }
  .keyboard-row button.wide-button-2{
    flex-grow:2.5;
    background-color: brown;
  }
    
  .spacer-half {
    flex-grow: 0.5;
  }